openapi: 3.0.3
info:
  title: FarmStall API
  version: v1
  description: |
    This is the API for the FarmStall application. It allows you to create users, get tokens, and create reviews.
    ---
    # Auth

    To authenticate, use the `Authorization` header with the value `Bearer <token>`. The token can be obtained by creating a user and then getting a token.

    ---
    # Reviews
    Reviews are created by posting to the `/reviews` endpoint. The body of the request should be a JSON object with a `message` and a `rating`. The `rating` should be an integer between 1 and 5.

    - `message`: A string describing the review.
    - `rating`: An integer between 1 and 5.
    - `userId`: A string representing the user who created the review. This is optional.
    - `uuid`: A string representing the unique identifier of the review.

servers:
  - url: https://farmstall.designapis.com/v1
tags:
  - name: users
    description: User operations
  - name: tokens
    description: Token operations
  - name: reviews
    description: Review operations
paths: 
  /users:
    post:
      - $ref: './schema/post-users.yaml'
  /tokens:
    post:
      - $ref: './schema/post-tokens.yaml'
  /reviews:
    get:
      description: Get a bunch of reviews.
      parameters:
      - name: maxRating
        description: Filter the reviews by the maximum rating
        in: query
        schema:
          type: number
      responses:
        200:
          description: A bunch of reviews
          content:
            application/json:
              schema:
                type: array
                items:
                  $ ref: './schema/rating.yaml#/rating'
                properties:
                  uuid:
                    type: string
                    pattern: '^[0-9a-fA-F/-]{36}$'
                  message:
                    type: string
                  rating:
                  userId:
                    type: string
                    pattern: '^[0-9a-fA-F/-]{36}$'
                    nullable: true
components:
  securitySchemes:
    MyUserToken:
      type: apiKey
      in: header
      name: Authorization
